        <div class="footer-container">
            <footer >
                <p class="copy-right">© 2023 KANUCK-AUTO</p>
                <ul class="footer-list">
                    
                    <li class="nav-item"><p>Contact Us :</p></li>
                    <li class="nav-item"><a href="https://github.com/Ellie-Aghajani" >Ellie</a></li>
                    <li class="nav-item"><a href="https://github.com/toddteigland" >Todd</a></li>
                    <li class="nav-item"><a href="https://github.com/iliacodes" >Ilia</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>