.footer-container{
    display: flex;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    height: 8rem;
    background-color: whitesmoke;
    color: rgb(83, 83, 83);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
footer{
    width: 90%;
    border-top: #8EC3B0 1px solid;
    margin: auto;
    height: 8rem;
    background-color:whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-list{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.footer-list a{
    color: #8EC3B0;
}
footer p {
    color: #8EC3B0;

}
