.footer-container{
    display: flex;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: aliceblue;
    color: rgb(83, 83, 83);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
footer{
    width: 90%;
    margin: auto;
    height: 5rem;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-list{
    display: flex;
    justify-content: space-around;
    align-items: center;

}