
main{

  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  width: 100%;
  min-height: 100vh;
  background-color:rgb(223, 220, 220);
  font-family: 'Montserrat', sans-serif;
}
.description{
  
  width: 100%;
  height: auto;
  padding-top: 2rem;
  background-color: black;
  color:#8EC3B0;
  line-height: 1.5rem;
  padding-left: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text-des{
  flex: 1 1 50%;

}
.img-des{
  flex: 1 1 50%;
  
}
.back-img{
  width:100%;
  height: auto;
}
.index-container{
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  width: 100%;
  background-color: aliceblue;
  background-image: linear-gradient( rgb(223, 234, 243), whitesmoke);


}

.index{
  display: flex;
  flex-direction: row;
  width: 98%;
  justify-content: space-evenly;
  align-items: flex-start;
 
}
.search{
  // margin: 0.5rem;
  flex:1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.filter-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: aliceblue;
  height: 90%;
  border-radius: 2rem;
  line-height: 3rem;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.result{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  // flex:1 1 70%;
  // margin: 0.5rem;  
}
.result-container{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 2rem;
  line-height: 3rem;
}

#vehicleList{
  padding-left:2rem ;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

#vehicleList li {
  list-style-type: none;
  flex: 0 1 48%;
  padding: 3rem;
  margin: 0.25rem;
  background-color:  aliceblue;
  border-radius: 2rem;
  line-height: 1.5rem;
  font-weight: bolder;
  margin-bottom: 3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
}
#vehicleList li a{
  color: rgb(31, 66, 48);
}
.car-detail1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.car-img{
  flex: 1 1 40%;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
}
.car-info{
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  padding-left:1rem;
  font-size: 1.4rem;
  line-height: 0.7rem;

}
.car-detail2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.like{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.likeButton{
  border: none;
  background-color:transparent;
}
.likeButton:hover{
  border: none;
  background-color: #99edced3;
  border-radius: 50%;
}
.liked{
  border: #8EC3B0;
  color: #028455;
  background-color: #429174;
}

#filter-form{
  display: flex;
  flex-direction: column;

}
.filter-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.filter-item label{
  padding: 0.5rem;
  color: #028455;
  font-weight: bolder;
  font-size: 0.9rem;
  flex: 1 1 50%;

}
.filter-item input {
  padding: 1rem;
  flex: 1 1 50%;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#search-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1.5rem;
  color: #429174;
  background-image:radial-gradient(#DEF5E5, #8EC3B0) ;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  height: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#search-button:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1.5rem;
  color: #429174;
  background-image:radial-gradient(#def5f4, #8eb8c3) ;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  height: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.filter-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// .filter-button select{
//   flex: 1 1 90%;
// }
// .filter-button button{
//   flex: 1 1 60%;
//   height: 2rem;

// }

// select{
//   background-color: aliceblue;
//   color: #028455;

// }
#sort{
  border: none;
  margin-top: 1rem;
  width: 60%;
  height: 3rem;
  font-size: 0.8rem;
  background-image:radial-gradient(#DEF5E5, #8EC3B0) ;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

@media (max-width: 480px){

  #vehicleList{
    width: 25rem;
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
  }
  #vehicleList li {
    width: 22rem;
    flex: 1 1 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;

  }
  .result-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-p{
    flex: 1 1 100%;

  }
  .result{
    display: flex;
    flex-direction: column;
    flex:1 1 100%;
    justify-content: center;
    align-items: center;
  }
  .search{
    flex:1 1 100%;
    margin-bottom: 2rem;
    
  }
  .index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  .index-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description{
    display: flex;
    padding-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .footer-container{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .footer-list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

  }
  .car-info{
    font-size: 1rem;
    line-height: 0.7rem;
  
  }
  header{
    margin-bottom: 10rem;
  }
  .header-container li a{
    color: rgb(35, 35, 35);
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  .userEmail{
    color: rgb(35, 35, 35);
    font-size: 1.3rem;
    line-height: 1.5rem;

  }

  .nav-link{
    padding: 0;
    margin: 0;
  }
  .logoutForm{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    color: #429174;
    background-image:radial-gradient(#DEF5E5, #8EC3B0) ;
    border-radius: 0.5rem;
    border: none;
    width: 60%;
    height: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  #search-button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 1.5rem;
    color: #429174;
    background-image:radial-gradient(#def5f4, #8eb8c3) ;
    border-radius: 0.5rem;
    border: none;
    width: 100%;
    height: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
  }
  #sort{
    background-image:radial-gradient(#DEF5E5, #8EC3B0) ;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  }
  .filter-item{
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 688px) and (max-width: 1024px){
  .header-container{
    font-size: 1.1rem;
  }
  .logo-container{
    display: none;
  }
  .text-des h2{
    font-size: 2.5rem;
  }
  .footer-container{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .p-footer{
    margin-top: 3rem;
    margin-left: 0;
  }
  .footer-list{
    padding: 0;
  }
  .footer-list li{
    padding: 0;
  }
  .footer-list li a{
    padding-left: 1rem;
  }
  .index{
    display: flex;
    flex-direction: row;
  }
  .search{
    flex: 1 1 40%;
  }
  .result{
    flex: 1 1 60%;
  }
  #vehicleList li {
    flex: 1 1 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;

  }
  .filter-item{
    display: flex;
    flex-direction: column;
  }


}
@media (min-width: 480px) and (max-width: 688px){
  .logo-container{
    display: none;
  } 
  .text-des h2{
    font-size: 1.7rem;
  }  
  .text-des p{
    font-size: 1.5rem;
  }  
  .footer-container{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.5rem;

  }
  header{
    height: 14rem;
  }
  .header-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    
  }
  .nav-bar{
    display: flex;
    justify-content: flex-end;
  }
  .nav-list{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .nav-item{
    padding-right: 1rem;
  }
  .userEmail{
    padding-right: 1rem;
  }
  #search-button{
    margin-right: 0.5rem;
    width: 70%;
  }
  .filter-item{
    display: flex;
    flex-direction: column;
  }
  #vehicleList{
    width: 25rem;
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
  }
  #vehicleList li {
    width: 22rem;
    flex: 1 1 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;

  }
 
}